{% extends "base.html" %}
{% block content %}
  <div class="container">
    {% if user.is_authenticated %}
      <h1>Ola, <strong>{{ membro.membroprofile }}</strong></h1>
      <h3>
      {% if membro.membroprofile.status_inscricao == 'inativo' %}
        Aguarde a confirmação da sua inscrição.
      {% else %}
        {% if submissao %}
          Por favor, aguarde um revisor entrar em contato com você para confirmar.
        {% else %}
          Você já pode enviar seu resumo. <strong>Bom trabalho!</strong>
        {% endif %}

      {% endif %}
      </h3>
      <div class="jumbotron">


          {%if membro.membroprofile.status_inscricao == 'inativo' %}

            <div class="row">
                <!-- <div class="col-lg-4">
                   <a class="btn btn-danger btn-lg" href="#" role="button">
                       {{ "Aguarde..." }}
                   </a>
                </div> -->
                <div class="col-lg-12">
                    <h2>Instruções para comprovação de inscrição.</h2>
                    <p>Uma cópia do comprovante de depósito ou transferência deverá ser enviada em anexo para o e-mail scsemiarido@gmail.com, com o assunto “SEU NOME – COMPROVANTE DE PAGAMENTO” para identificar e registrar o pagamento. No e-mail devem constar:</p>
                    <ul>
                    <li>Nome do participante;</li>
                    <li>Login;</li>
                    <li>CPF do participante (Passaporte ou visto, caso seja estrangeiro morando no Brasil);</li>
                    <li>Comprovante de depósito ou transferência em anexo (não receberemos comprovantes via fax);</li>
                    <li>Comprovante de matricula para estudantes de Graduação ou Pós-graduação.</li>

                    </ul>
                </div>
            </div>

        {% else %}

            {% if lista_resumos.exists %}
                {% for resumo in lista_resumos %}

                    <div class="list-group">
                  <a href="#" class="list-group-item active">
                    <h3 class="list-group-item-heading">Resumo</h3>
                      <span class="badge">{{ resumo.get_status_da_submissao_display }}</span>
                    <p class="list-group-item-text">Abaixo descrição dos dados da sua submissão</p>
                  </a>

                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">Título</h3>
                    <span class="list-group-item-text">{{ resumo.titulo }}</span>
                  </a>

                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">Título em Inglês</h3>
                    <span class="list-group-item-text">{{ resumo.titulo_eng }}</span>
                  </a>

                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">Área de interesse</h3>
                    <span class="list-group-item-text">{{ resumo.get_area_de_interesse_display }}</span>
                  </a>
                  <a href="{{ resumo.arquivo.url }}" class="list-group-item">
                    <h3 class="list-group-item-heading">Seu arquivo</h3>
                    <span class="list-group-item-text">{{ resumo.arquivo.name }}</span>
                  </a>


                </div>

                {% endfor %}
            {% else %}


                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3>Você, ainda não submeteu seu resumo.<a href="submissao/adcionar/"><span class="label label-danger">Envie agora</span></a></h3>
                  </div>
                </div>


            {% endif %}
        {% endif %}
      </p>
    </div>




  {% else %}

    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <form class="form-horizontal" id="membro_form" method="post" action="/login/">{% csrf_token %}
          <h3 class="form-signin-heading">Entre com seu usuário.</h3>
          <label for="inputUser" class="sr-only">Entre com seu usuário</label>
          <input type="text" id="inputUser" class="form-control" name="username" placeholder="Usuário" required autofocus>
          <label for="inputSenha" class="sr-only">Senha</label>
          <input type="password" id="inputSenha" class="form-control" placeholder="Sua senha" name="password" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Lembre-me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>
      </div>
      <div class="col-lg-3">
        <h3 class="form-signin-heading">Ainda não fez sua inscrição?</h3>
        <a href="/register/"><button class="btn btn-lg btn-alert btn-block" type="submit">Não perca tempo, faça agora.</button></a>
      </div>
      <div class="col-lg-3"></div>
    </div>

    {% endif %}
{% endblock content %}
