{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2></h2>
            {% for resumo in lista_resumos %}


                <div class="list-group">
                  <a href="#" class="list-group-item active">
                    <h3 class="list-group-item-heading">Resumo</h3>
                      <span class="badge">{{ resumo.get_status_da_submissao_display }}</span>
                    <p class="list-group-item-text">Abaixo descrição dos dados da sua submissão</p>
                  </a>

                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">Título</h3>
                    <span class="list-group-item-text">{{ resumo.titulo }}</span>
                  </a>

                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">Título em Inglês</h3>
                    <span class="list-group-item-text">{{ resumo.titulo_eng }}</span>
                  </a>

                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">Área de interesse</h3>
                    <span class="list-group-item-text">{{ resumo.get_area_de_interesse_display }}</span>
                  </a>
                  <a href="{{ resumo.arquivo.url }}" class="list-group-item">
                    <h3 class="list-group-item-heading">Seu arquivo</h3>
                    <span class="list-group-item-text">{{ resumo.arquivo.name }}</span>
                  </a>


                </div>



<!--
                <h3><span class="label label-default"></span></h3>
                <p>...</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
            {% endfor %}
        </div>
    </div>


{% endblock %}